<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gradle-project-analyzer demo page</title>
    <!-- Vuetify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.6.9/dist/vuetify.min.css" rel="stylesheet" />
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.prod.js"></script>
    <!-- Vuetify JS -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.9/dist/vuetify.min.js"></script>
    <!-- Vuetify Styles -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <!-- Network -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <!-- highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- prettier -->
    <script type="module">
      import * as prettier from 'https://unpkg.com/prettier@3.3.2/standalone.mjs';
      import prettierPluginBabel from 'https://unpkg.com/prettier@3.3.2/plugins/babel.mjs';
      import prettierPluginEstree from 'https://unpkg.com/prettier@3.3.2/plugins/estree.mjs';

      window.prettier = prettier;
      window.prettierPlugins = [prettierPluginBabel, prettierPluginEstree];
    </script>
  </head>
  <body>
    <div id="app"></div>

    <script>
      const { createApp, ref, computed, onMounted, watch } = Vue;
      const { createVuetify } = Vuetify;

      const vuetify = createVuetify();

      const App = {
        setup() {
          const authorizationHeader = ref('sample');
          const output = ref('');
          const functionsList = ref([]);
          const socketConnected = ref(false);
          const instance = axios.create({
            baseURL: 'http://localhost:3000',
          });
          const socket = io('http://localhost:3000', {
            path: '/api/command/output',
            extraHeaders: {
              Authorization: 'Bearer ' + authorizationHeader.value,
            },
            reconnectionDelayMax: 10000,
            reconnection: false,
          });
          const connectionStatus = computed(() => (socketConnected.value ? '🟢' : '🔴'));

          const connectWebSocket = () => {
            socket.connect();
          };

          const disconnectWebSocket = () => {
            socket.disconnect();
          };

          const uuid = () => {
            var t = URL.createObjectURL(new Blob()),
              e = t.toString();
            return URL.revokeObjectURL(t), e.split(/[:\/]/g).pop().toLowerCase();
          };

          const executeFunction = async (functionData) => {
            const requestData = {};
            functionData.params.forEach((param) => {
              requestData[param] = functionData.paramValues[param];
              if (param == 'id' && !requestData['id']) {
                requestData['id'] = uuid();
              }
            });

            const urlParams = new URLSearchParams();
            if (functionData.querys) {
              functionData.querys.forEach((param) => {
                urlParams.append(param, functionData.queryValues[param]);
              });
            }
            const url = `${functionData.apiPath}?${urlParams.toString()}`;

            try {
              let response;
              if (functionData.method === 'GET') {
                response = await instance.get(url, {
                  headers: {
                    Authorization: `Bearer ${authorizationHeader.value}`,
                  },
                });
              } else {
                response = await instance.post(url, requestData, {
                  headers: {
                    Authorization: `Bearer ${authorizationHeader.value}`,
                  },
                });
              }
              output.value = JSON.stringify(response.data, null, 2);
            } catch (error) {
              console.log(error);
              if (error.response) {
                output.value = JSON.stringify(error.response.data, null, 2);
              } else {
                output.value = error;
              }
            }
            updateOutput();
          };

          const updateOutput = async () => {
            const outputElement = document.querySelector('code.hljs');
            const formatted = await window.prettier.format(output.value, {
              parser: 'json',
              plugins: window.prettierPlugins,
            });
            output.value = formatted;
          };

          const highlightedOutput = computed(() => {
            if (output.value != '') {
              const highlighted = hljs.highlightAuto(output.value).value;
              return highlighted;
            }
            return '';
          });

          onMounted(async () => {
            const response = await axios.get('demo-functions.json');
            functionsList.value = response.data;
            socket.on('connect', () => {
              socketConnected.value = true;
            });

            socket.on('disconnect', () => {
              socketConnected.value = false;
            });

            socket.on('log', (data) => {
              const { id, message } = data;
              logElement = document.createElement('div');
              logElement.innerText = message;
              logElement.className = 'log-message';
              document.querySelector('.right').appendChild(logElement);

              logElement.scrollIntoView({ behavior: 'smooth' });
            });
          });

          watch(authorizationHeader, (newVal) => {
            socket.io.opts.extraHeaders.Authorization = `Bearer ${newVal}`;
          });

          return {
            authorizationHeader,
            output,
            highlightedOutput,
            socketConnected,
            functionsList,
            connectionStatus,
            connectWebSocket,
            disconnectWebSocket,
            executeFunction,
            updateOutput,
          };
        },
        template: `
        <v-app>
          <v-main class="ps-2 pe-2">
            <v-container fluid class="fill-height">
              <v-row class="fill-height">
                <v-col cols="7" class="left">
                    <v-row class="d-flex align-center">
                        <span class="text-h6">Authorization Header</span>
                        <v-text-field v-model="authorizationHeader" color="primary" label="Value" variant="underlined" hide-details class="ms-5" max-width="300"></v-text-field>
                    </v-row>
                    <div class="mt-5"/>
                    <v-row class="d-flex align-center">
                        <span class="text-h6">Output WebSocket</span>
                        <span class="ms-2">{{ connectionStatus }}</span>
                        <v-btn @click="connectWebSocket" color="primary" class="text-none ms-5">Connect</v-btn>
                        <v-btn @click="disconnectWebSocket" color="primary" variant="text" class="text-none ms-2">Disconnect</v-btn> 
                    </v-row>
                    <div class="mt-5"/>
                    <div v-for="(functionData, index) in functionsList" :key="index">
                        <span class="text-h6 ms-n3">{{ functionData.name }}</span>
                        <span class="text-caption ms-1">{{ functionData.method }} {{ functionData.apiPath }}</span>
                        <v-btn class="text-none ms-2" variant="tonal" color="green" @click="executeFunction(functionData)">Execute</v-btn>
                        <v-row class="d-flex align-center" class="ms-n3 mt-2" v-if="functionData.paramValues">
                            <span class="text-body-1">Param</span>
                            <v-text-field v-model="functionData.paramValues[param]" :label="param" type="text" color="primary" variant="underlined" hide-details max-width="300" class="ms-2" v-for="(param, pIndex) in functionData.params" :key="pIndex" />
                        </v-row>
                        <v-row class="d-flex align-center" class="ms-n3 mt-4" v-if="functionData.queryValues">
                            <span class="text-body-1">Query</span>
                            <v-text-field v-model="functionData.queryValues[param]" :label="param" type="text" color="primary" variant="underlined" hide-details max-width="300" class="ms-2" v-for="(param, pIndex) in functionData.querys" :key="pIndex" />
                        </v-row>
                        <div class="mt-5"/>
                        <div class="mt-5"/>
                    </div>
                </v-col>
                <v-divider vertical></v-divider>
                <v-col cols="5">
                    <pre class="ms-3"><code class="hljs" v-html="highlightedOutput"></code></pre>
                    <div class="right"></div>
                </v-col>
              </v-row>
            </v-container>
          </v-main>
        </v-app>
      `,
      };

      const app = createApp(App);
      app.use(vuetify);
      app.mount('#app');
    </script>
  </body>
</html>
